body {
	background: #efefef;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

hr {
	height: 0;
	border: none;
	border-top: 1px solid #DEDEDE;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

[data-x].active {
	outline: 10px solid red;
}

[data-x].offset {
	transform: translateY(100px);
}

[data-x] {
	transform: translateY(0);
	transition: all 0.5s;
}

@keyframes slideUp {
	0% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}

.topNavBar {
	padding: 20px 0 20px 0;
	position: fixed;
	color: #b7b7b7;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 1s;
}

.topNavBar.sticky {
	background: white;
	padding: 5px 0;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	color: black;
	font-weight: bold;
}

.topNavBar-inner {
	padding: 0 16px;
}

.topNavBar nav {
	padding-top: 7px;
}

.topNavBar nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.topNavBar nav > ul > li {
	float: left;
	margin-left: 17px;
	margin-right: 17px;
	position: relative;
}

.topNavBar nav > ul > li > a {
	font-size: 12px;
	color: inherit;
	font-weight: bold;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	position: relative;
}

.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #e06567;
	height: 3px;
	animation: menuSlide .3s;
}

@keyframes menuSlide {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}



@keyframes submenuSlide {
	0% {
		margin-right: 100%;
	}
	100% {
		margin-right: 0%;
	}
}



.topNavBar .logo {
	font-size: 24px;
	font-family: 'Arial Black';
	padding-top: 3px;
	padding-bottom: 4px;
}

.topNavBar .logo .rs {
	margin-right: 4px;
	color: #e6686a;
}

.topNavBar .logo .card {
	color: #9a9da2;
}

.banner {
	height: 550px;
	background-image: url("./images/sun.jpg");
	background-size: cover;
	background-position: center center;
}

.mask {
	height: 550px;
	background-color: rgba(0, 0, 0, 0.5);
}

.userCard {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}



.h1 {
	margin-top: 18px;
}

.userCard .text hr {
	margin: 20px 0px;
}

.userCard .pictureAndText {
	padding: 50px;
}

.userCard .picture {
	float: left;
}

.userCard .text {
	float: right;
	width: 470px;
	margin-left: 60px;
}

.userCard dl dt,
.userCard dl dd {
	float: left;
	padding: 5px 0;
}

.userCard dl dt {
	width: 30%;
	font-weight: bold;
	font-size: 20px;
}

.userCard dl dd {
	width: 70%;
	font-weight: lighter;
	font-size: 20px;
}

.userCard > footer.media {
	background: #E6686A;
	text-align: center;
}

.userCard > footer.media a {
	border: 1px solid trqansparent;
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	line-height: 30px;
	padding: 5px 0;
	margin: 15px;
}

.userCard > footer.media a:hover {
	background: #cf5d5f;
}

.userCard footer svg {
	width: 30px;
	height: 30px;
	fill: white;
	vertical-align: top;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

body > main {
	margin-top: -330px;
}

body > main .downloadresumewrapper {
	text-align: center;
	margin-left: 145px;
}

body > main .downloadresume {
	border: 1px solid #9A9DA2;
	padding: 20px 40px;
	font-size: 22px;
	line-height: 16px;
	flex-direction: column-reverse;
	border-color: #9a9da2;
	border-radius: 5px;
	margin-left: 30%;
}

body > main .downloadresume:hover {
	box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

.selfintrodaction {
	max-width: 940px;
	margin: 5px auto;
	line-height: 1.8;
	font-family: 楷体;
	font-weight: bold;
}



.portfolio-all{
	margin: 40px;
	text-align: center;
	back
}
.portfolio-w{

	display: flex;
	padding:20px 120px;
}

.portfolio-w > img{
	 width: 600px ;
	 height: 400px;
 }
.introduction{
	border:1px solid #58c0f5;
	display: flex;
	flex-direction: column;
}
.introduction > a{
	width: 80px ;
	height: 30px ;
	padding: 15px  10px 10px 10px ;
	margin: 10px 10px 10px 20px ;
	background: #58c0f5;
	border-radius: 5px ;
}
.introduction > p{
	padding: 10px 10px 10px 20px ;
	text-align: left;
}









section.message > h2,
section.skills > h1{
	text-align: center;
	color: #3d4451;
	margin-bottom: 100px;
	line-height: 1.2;
	font-weight: normel;
}

section.skills h3 {
	font-size: 14px;
	line-height: 1.1;
	padding-right: 40px;
}

section.skills > ol {
	background: white;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
	padding: 40px 50px 10px;
	margin-top: 30px;
	font-size: 25px;
}

section.skills > ol > li {
	float: left;
	width: 47%;
	box-sizing: border-box;
	margin: 0 0 30px;
}

section.skills > ol > li:nth-child(even) {
	float: right;
}

section.skills .progressBar {
	height: 3px;
	border-radius: 5px;
	background: #fae1e1;
	margin-top: 10px;
	overflow: hidden;
}

section.skills .progressBar > .progress {
	height: 100%;
	background-color: #E6686A;
	border-radius: 5px;
	transform: translateX(0);
	transition: all 1s;
}

section.skills.offset .progress {
	transform: translateX(-100%);
}

section.portfolio {
	text-align: center;
	margin: 100px 0;
}

section.portfolio h2 {
	margin-bottom: 100px;
	color: #3d4451;
	line-height: 1.2;
	font-size: 35px;
	font-weight: normel;
}

section.portfolio .swiper-container {
	width: 668px;
	height: 501px;
}

section.portfolio .swiper-button-prev,
section.portfolio .swiper-button-next {
	background-color: white;
	width: 64px;
	height: 64px;
	top: 60%;
	right: 75%;
	left: auto;
	border-radius: 50%;
}

section.portfolio .swiper-button-next {
	left: 75%;
	right: auto;
}

section.message > ol {
	max-width: 700px;
	margin: 0 auto;
	border-top: 1px solid #ddd;
}

section.message > ol > li {
	padding: 16px;
	border-bottom: 1px solid #ddd;
}

section.message > form {
	margin: 10px 0 40px 0;
}


img{
	max-width: 70%;
}